body {
  font-family: "Lato", sans-serif;
  background: #f2f2f2;
}

.sidenav {
  height: 100%;
  width: 173px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 0px;
}


/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* Add an active class to the active dropdown button */
.active {
  background-color: #262626;
  color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}


.main {
  margin-left: 180px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 50px;
  width:900px;
}

.ab_main {
  margin-left: 180px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

.fa{
    color:white;
}

.fas{
     color:white;
}

h2{
    font-size:25px;
}

.p_content{
    background: #fff;
}

#myChart{
    background: #fff;
}

.statistics{
    font-size: 20px;
    text-align: left;
    width: 190px;
    background-color: #6699ff;
    border: 0px solid #000;
}

.ctry{
    margin-bottom: -15px;
    background-color: #ff6666;
    border-bottom: 1px solid #fff;
}